SENDER_ADDRESS=your_wallet_address_here

# Base Sepolia (testnet)
RPC_URL_BASE_SEPOLIA=https://sepolia.base.org
CHAIN_ID_BASE_SEPOLIA=84532
VERIFY_URL_BASE_SEPOLIA=https://api.etherscan.io/v2/api?chainid=84532

# Base Mainnet
RPC_URL_BASE=https://mainnet.base.org
CHAIN_ID_BASE=8453
VERIFY_URL_BASE=https://api.etherscan.io/v2/api?chainid=8453

ETHERSCAN_API_KEY=your_basescan_api_key_here
